{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <input type="hidden" id="grocery_list" value="{{ grocery_list }}"></input>
    <input type="hidden" id="pics_list" value="{{ pics }}"></input>
    <input type="hidden" id="macros" value="{{ macros }}"></input>


    <div class="body-wrapper">
        <div class="row mb-5">
            <h2 class="m-auto"> Your Calorie Breakdown
            </h2>
        </div>
        <div class="row">
            <div class="col-6">
                <canvas id="myChart" class="m-auto"></canvas>
            </div>
            <div class="col-6">
                <canvas id="barChart" class="m-auto"></canvas>
            </div>
        </div>
        <br><br>
        <div class="row mb-5">
            <h2 class="m-auto"> Your Grocery List
            </h2>
        </div>

        <div id="groceryList" style="max-width: 70vw;margin: auto;" class="row">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center ftco-animate">
            <p><a href="{% url 'user:email' %}" class="btn btn-black py-3 px-5">Email Grocery List</a></p>
        </div>
    </div>
    <br><br>
    </div>


    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var macros = JSON.parse(document.getElementById('macros').value);

        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Carbs', 'Protein', 'Vegetables'],
                datasets: [{
                    label: 'Number of Calories',
                    data: [macros[2] * 4, macros[3] * 4, macros[1] * 9],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {}
            }
        });

        let ctxx = document.getElementById('barChart').getContext('2d');

        var myBarChart = new Chart(ctxx, {
            type: 'bar',
            data: {
                labels: ['Carbs', 'Protein', 'Vegetables'],
                datasets: [{
                    label: 'Number of Grams',
                    data: [macros[2], macros[3], macros[1]],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]

            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true,
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,132,0.2)"
                        },
                        ticks: {
                            min: 0,
                            callback: function (value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        }
                    }],
                    xAxes: [{

                    }]
                }
            }
        });

        function populateGroceryList(arrNames, arrPictures) {
            var bodyToAppend = document.getElementById('groceryList')

            arrNames.forEach((element, index) => {
                console.log(element)
                bodyToAppend.innerHTML +=
                    `
            <div  class="col-md-6 col-lg-4 menu-wrap">

            <div class="menus d-flex ftco-animate">
                <div class="menu-img img" style="background-image: url(${arrPictures[index]});">
                </div>
                <div class="text">
                    <div class="d-flex">
                        <div class="three-half">
                            <h3 style="position: relative; top: 20px;">${element}</h3>
                        </div>
                    </div>
                </div>
                </div>
            </div>`
            });

        }

        var grocery_list = document.getElementById('grocery_list').value.replace(/'/g, '"')
        var pics_list = document.getElementById('pics_list').value.replace(/'/g, '"')

        console.log("Grocery Value -->", grocery_list)
        console.log("Pics Value -->", pics_list)

        populateGroceryList(JSON.parse(grocery_list), JSON.parse(pics_list))
    </script>

    <style>
        #groceryList {
            padding-top: 50px;
            border: 2px solid rgba(243, 241, 239, .7);
        }

        .body-wrapper {
            margin-top: 120px;
            padding: 20px;
        }

        #myChart {
            width: 10px;
        }
    </style>

{% endblock %}