{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <br>
    <br>
    <input type="hidden" id="final_list"></input>
    <div class="container searchContainer mt-5">
        <div class="search card card-body">
            
            <h2 >Search your favourite food!</h2>
            <p class="lead">Enter food you would like to eat</p>
            <input type="text" id="searchFood" class="form-control" placeholder="Food name...">
        </div>
        <br>
        <div class="row">

        
        <div id="food_div"class='col-4 ml-0 mr-auto'>
            <ul id='food_list'>

            </ul>
        </div>

        <div id="picked_food" class='col-5 mr-0'>
            <h3>Chosen Items:</h3>
            <ul id='confirmed_list' class="list-unstyled row">

            </ul>
        </div>
        </div>
        <div class='row fixed-bottom col-2 mr-auto mb-5' style="width:800px;margin:0 auto">
            <a id="endpoint_url" href="{% url 'user:details' "a" %}"><button class='btn btn-primary'type="submit">Submit</button></a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let grocery_list = []

        $(document).ready(function () {

            
            const searchFood = document.getElementById('searchFood');
            searchFood.addEventListener('keyup', debounce (async e => {
                
                const userText = e.target.value

                if (userText !== '') {
                    let response = await fetch(`/user/search/${userText}`);
                    let data = await response.json();
                    populateList(data)
                }
            },1000))

        });
        
        function populateList(data) {
            console.log(data);
            $('#food_list').empty();
            let foodList= document.getElementById('food_list');
            let output = ''
            data.forEach(item => {
                output+=`
                    <li class="row">
                    
                    <a style="color:black" onClick="clearAll(this)" value="${item.serving_unit}" data-value=${item.photo.thumb} class="food-item" href="#"><img style="width:60%;height="10%"""  src="${item.photo.thumb}" alt=""> ${item.food_name} </a>
                        
                        
                    </li>
                
                `

                }
                
            )
            
            foodList.innerHTML=output
        }

        function clearAll(a){
            let foodList= document.getElementById('food_list');
            let serving_unit = a.getAttribute('value');
            let serving_qty = 1.0;
            let src = a.getAttribute('data-value');
            let item = {
                "food_name": a.innerText,
                "serving_unit": serving_unit,
                "serving_qty": serving_qty
            }

            $('#confirmed_list').append(`<li class="col-5">
                    
                ${a.innerHTML}
                    
                </li>`)
            $('#searchFood').val('');
            foodList.innerHTML = ''
            grocery_list.push(item);
            $('#endpoint_url').attr("href", "/user/details/"+ JSON.stringify(grocery_list)+"/");

        }
        function debounce(func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }
    </script>
{% endblock %}