.sec-1 {
  background-color: #ff1a1a;
  color: #ffffff;
}
.sec-2 {
  background-color: #ffffff;
  color: #555555;
  min-height: 1000px;
}
.sec-3 {
  background-color: #ff1a1a;
  color: #ffffff;
  min-height: 700px;
}
.sec-4 {
  background-color: #ffffff;
  color: #555555;
  min-height: 400px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.mid {
  display: flex;
  align-items: center;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 3px;
  background-color: #ffffff;
}
.navbar-nav li a:hover {
  color: #ff0000 !important;
}
.footer {
  background-color: #ffffff;
  color: #555555;
  position: absolute;
  height: 120px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", "Montserrat";
  font-size: 50px;
  line-height: 1.8;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  color: #f5f6f7;
}
p {
  font-size: 16px;
}

h2 {
  padding-right: 15%;
}

h3 {
  font-size: 26px;
}

h5 {
  color: #555555;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.iphone {
  padding-top: 15%;
  padding-left: 45%;
}

.start {
  color: #ff1a1a;
}

.power {
  color: #555555;
  font-size: 100;
  font-family: "Lato", "Montserrat";
}

.login {
  color: #555555;
  font-family: "Lato", "Montserrat";
}

.fields {
  color: #555555;
  font-size: 20px;
  font-family: "Lato", "Montserrat";
  padding: 0 px;
}

.icon {
  padding-top: 7%;
  padding-right: 10px;
}

.margin {
  margin-bottom: 45px;
}

.options {
  padding-left: 20%;
}

.text {
  font-size: 60px;
  padding-top: 45%;
}

.p2 {
  font-size: 60px;
  padding-top: 10%;
}

.p3 {
  font-size: 25px;
}

.p4 {
  font-size: 60px;
  padding-top: 20%;
}

.end {
  padding-bottom: 2%;
}

.ftop {
  padding-top: 40px;
}

.top {
  padding-top: 10%;
}

.links {
  max-width: 60px;
  margin: auto;
}
.picme {
  font-size: 200px;
  float: right;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
}
.slideanimation {
  visibility: hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.chat-list {
  padding: 0;
  font-size: 0.8rem;
}

.chat-list li {
  margin-bottom: 10px;
  overflow: auto;
  color: #ffffff;
}

.chat-list .chat-message {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #fc6d4c;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.chat-list .chat-message h5 {
  margin: 0 0 5px 0;
  font-weight: 600;
  line-height: 100%;
  font-size: 14px;
}

.chat-list .chat-message p {
  line-height: 18px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.chat-list .in .chat-body {
  padding-top: 2%;
  float: left;
  margin-left: 20px;
}

.chat-list .in .chat-message {
  background: #fc6d4c;
}

.chat-list .out .chat-body {
  padding-top: 2%;
  float: right;
  margin-right: 20px;
}

.chat-list .out .chat-message {
  background: #5a99ee;
}

.card .card-header {
  background: #17202b;
  border: 0;
  font-size: 1rem;
  padding: 0.65rem 1rem;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

.content {
  margin-top: 40px;
}

.position {
  position: fixed;
  z-index: 1000;
  left: 0px;
  bottom: 0px;
}

.chatbody {
  background-color: #ffffff;
}

.ovf {
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
}

.chat-container {
  height: 350px;
  overflow: auto;
  direction: ltr;
  padding: 5px;
}

.send-message-form input {
  width: 100%;
  border: none;
  color: #17202b;
  font-size: 16px;
  padding: 15px;
  border: solid 1px #ccc;
}

.send-message-form button {
  display: none;
}

.chat-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.helpmsg {
  color: #17202b;
}

#c {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 300px;
  display: block;
}

.abs {
  position: absolute;
  top: 100px;
  display: block;
  width: 100%;
}

.abs2 {
  position: absolute;
  top: 900px;
  display: block;
  width: 100%;
}

.next {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
  display: block;
  position: relative;
  left: 90%;
}

.prev {
  background-color: transparent;
  color: #000000;
  border-color: #000000;
  display: block;
  position: absolute;
  right: 90%;
}
